 
  
   body{
      /* background-image: url("/assets/img/burger1.jpg"); */
      height: 100vh;
      width: 100vw;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* Needed to position the navbar */
      /* position: relative; */
      color:black;
      /* color:white; */
      /* font-size:20px; */
      /* background-color:lightgoldenrodyellow; */
      
    }

    .flex-container{
        display:flex;
        /* flex-direction: row; */
        /* justify-content: space-between; */
        
        
    } 
.container-1 {
    margin:30px;
    padding:10px;
    font-size:25px;

}
 .container-3{
    margin:30px; 
     padding:10px;
      font-size:25px;
      /* color: grey; */
} 

