 .flex-container{
    display:flex;
} 
  
   body{
      background-image: url("/assets/img/burger1.jpg");
      height: 100vh;
      width: 100vw;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* Needed to position the navbar */
      /* position: relative; */
      color:white;
    }
    
.container-1{
    /* position:absolute; */
    display:flex;
   color:white;
   /* margin-right: 800px;  */
   align-content: center;
   /* align-items: center; */
}
.container-2{
    display:flex;
    color:white;
    /* margin-left: 480px; */
    justify-content: center;

}
.container-3{
    /* position:absolute; */
    display:flex;
    color:white;
    /* margin-left: 800px; */
    flex-direction: column-reverse;
    align-items: center;

}

