
<li>
	{{burger_name}}
{{#if devoured}}
	<button class="burger-status" data-id="{{id}}" data-neweaten="true">
		{{!-- {{#if devoured}}<i class="far fa-thumbs-up"></i>{{/if}}
		{{#unless devoured}}<i class="fas fa-utensils"></i>{{/unless}} --}}
		<i class="fas fa-utensils"> Devour me!</i>
		
	</button>
	{{/if}}
</li>

